header{
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    transform: translateY(-100%);
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.3);
}

/* header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
    background: linear-gradient(0deg,rgba(0,0,0,0) 30px,var(--darker-background-color) 98%);
        z-index: -1;
        opacity: 0.5;
} */

header.active{
    transform: translateY(0%);
    opacity: 1;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 120px; */
    padding: 20px 0;
}

.header-menu{
    text-align: center;
}

.header-menu-list{
    display: flex;
    align-items: center;
}

.header-menu-list-item{
    margin: 0 30px;
}

.header-menu-list-link{
    /* color:var(--infromation-color);  */
    line-height: 22px;
}

.header-logo{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo img:hover{ 
    animation: logo 1s ease-in-out;
}

.catalog-categories{
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-categorie-button{
    margin-right: 20px;
}

/* .catalog-categorie-button:nth-last-child(0){
    margin-right: 0;
} */

.catalog-categorie-subcategories{
    display: none;
}

/* .catalog-categorie.active .catalog-categorie-subcategories{
    display: block;
} */

.catalog-categorie:hover .catalog-categorie-subcategories{
    display: block;
}

.catalog-categories{
    position: relative;
}

.catalog-categorie-subcategorie{
    margin-bottom: 20px;
}

.catalog-categorie-subcategorie-title{
    margin-bottom: 10px;
}

.catalog-categorie-subcategories{
    position: absolute;
    background-color: var(--background-color);
    width: 100%;
    left: 0;
    right: 0;
    border-bottom: 3px solid var(--title-color);
    z-index: 99;
    padding: 0 60px;
}

.catalog-menu{
    display: flex;
    justify-content: space-between;
}

.catalog-menu-categories{
    width: 250px;
}

.catalog-breadcrumbs{
    text-align: center;
    margin-top: 20px;
}

.catalog-menu-categorie-subcategorie-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.catalog-menu-categorie-subcategorie{
    margin-bottom: 20px;
}

.catalog-categorie-subcategorie-item{
    margin-right: 15px;
}

.catalog-product-card{
    /* margin-left: 10px; */
    margin-bottom: 30px;
    position: relative;
    max-width: 24%;
}

.catalog-product-card.active{
    max-width: 32%;
}

.catalog-product-card-img-onhover{
    display: none;
    width: 100%;
    height:100%;
}

.catalog-product-card-img-default{
    width: 100%;
    height:100%;
}

.catalog-product-card-top:hover .catalog-product-card-img-onhover{
    display: block;
}

.catalog-product-card-top:hover .catalog-product-card-img-default{
    display: none;
}

.catalog-product-card-img{
    /* position: relative; */
    width: 100%;
    height:500px;
}

.footer-logo{
    width: 60px;
    height: 60px;
}
.footer-1{
    align-items: center;
    border-bottom: 1px solid #cecece;
    padding-bottom: 100px;
}
.footer-inner h5{
width: 25%;
display: flex;
}
.footer-inner h5 img{
    width: 12%;
    display: flex;
    padding: 0 7px;
}
.footer-links{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 300px;
    margin-top: -140px;
}
.footer-2{
    color: #cecece;
}

.catalog-product-card-colors{
    display: flex;
}

.catalog-product-card-link-color{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 5px;
}

.catalog-product-card-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.catalog-product-card-remove-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--background-color);
    border-radius: 50%;
    border: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.catalog-product-card-remove-button svg{
    width: 20px;
    height: 20px;
}

.catalog-product-card-button::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url('../img/favourites-transparent.svg');
    background-position: center;
    top: 0;
    left: 0;
}

.catalog-product-card-button:hover::before{
    background-image: url('../img/favourites-red.svg');
}

.catalog-product-card-button.active::before{
    background-image: url('../img/favourites-red.svg');
}

.catalog-menu-categories .sub-title{
    font-size: 15px;
}

.catalog-menu-categories .link{
    font-size: 15px;
}

.catalog{
    position: relative;
}

.catalog-products-filter-menu{
    display: none;
}

.catalog-categories-menu-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    background-color: var(--company-color-red);
    justify-content: center;
    align-items: center;
}

.catalog-products-filter{
    display: flex;
    justify-content: space-between;
}

.catalog-products-information{
    display: flex;
    justify-content: space-between;
}

.catalog-products-top{
    display: flex;
    justify-content: space-between;
}

.catalog-products-pagination{
    text-align: center;
}

.catalog-products-pagination-line{
    position: relative;
    margin-top: 20px;
    height: 3px;
    background-color: var(--company-color-gray);
    width: 100%;
}

.catalog-products-pagination-line-active{
    position: absolute;
    height: 3px;
    background-color: var(--title-color);
    z-index: 999;
}

.catalog-products-pagination-links{
    margin-top: 15px;
    display: flex;
    flex-flow: wrap row;
    justify-self: center;
}

.catalog-products-pagination-link{
    margin-right: 7px;
    margin-bottom: 10px;
    /* display: inline-block; */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: var(--company-color-gray);
}

.catalog-products-pagination-link button{
    color: var(--background-color);
}

.catalog-products-pagination-link:hover{
    background-color: var(--title-color);
}

.catalog-products-pagination-link.active{
    background-color: var(--title-color);

}

.catalog-navigation{
    display: flex;
    justify-content: center;
}

.catalog-search-query{
    margin-top: 20px;
}

.svg-container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 7em;
    height: 15em;
    transform: translate3d( -50%, -50%, 0 );
  }
  
  .svg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    animation: spin 6s linear infinite;
  }
  
  .symbol{
    fill: transparent;
    stroke: var(--company-color-red);
    stroke-width: 20px;
    stroke-dasharray: 1600;
    stroke-miterlimit: 10;
    stroke-dashoffset: 1600;
    animation: dash 3s linear infinite;
  }
  
  @keyframes dash {
    from {
      stroke-dashoffset: 1600;
    }
    to {
      stroke-dashoffset: -1600;
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(359deg);
    }
  }

.catalog-products-list-loader{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-search-bar{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.catalog-search-bar-button{
    width: 40px;
    height: 20px;
}