/* header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 998;
    transform: translateY(-100%);
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.3);
}

header.active{
    transform: translateY(0%);
    opacity: 1;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header-menu-list-link{
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header-menu{
    text-align: center;
}

.header-menu-list{
    display: flex;
    align-items: center;
}

.header-menu-list-item{
    margin: 0 30px;
}

.header-menu-list-link{
    line-height: 22px;
}

.header-logo{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cart img{
    width: 40px;
    height: 40px;
}



.navigation{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 999;
    border-top: 2px solid #000;
}

.navigation-inner{
    padding: 20px 40px;
}

.navigation-menu-list-link img{
    width: 25px;
    height: 25px;
}

.navigation-menu-list-link{
    filter: grayscale(100%);
}

.header-cart{
    filter: grayscale(100%);
    position: relative;
}

.navigation-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cart h1{
    transform: translate(-50%, -50%);
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 14px;
}

/* catalog */

.catalog-categories{
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-categorie-button{
    margin-right: 20px;
}

.catalog-categorie-subcategories{
    display: none;
}

.catalog-categorie:hover .catalog-categorie-subcategories{
    display: block;
}

.catalog-categories{
    position: relative;
}

.catalog-categorie-subcategorie{
    margin-bottom: 20px;
}

.catalog-categorie-subcategorie-title{
    margin-bottom: 10px;
}

.catalog-products-selection-clear{
    margin-top: 0 !important;
}

.catalog-categorie-subcategories{
    position: absolute;
    background-color: var(--background-color);
    width: 100%;
    left: 0;
    right: 0;
    border-bottom: 3px solid var(--title-color);
    z-index: 99;
    padding: 0 60px;
}

.catalog-menu{
    display: flex;
    justify-content: space-between;
}

.catalog-menu-categories{
    width: 250px;
}

.catalog-breadcrumbs{
    text-align: center;
    margin-top: 20px;
}

.catalog-menu-categorie-subcategorie-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.catalog-menu-categorie-subcategorie{
    margin-bottom: 20px;
}

.catalog-categorie-subcategorie-item{
    margin-right: 15px;
}

.catalog-product-card{
    margin-bottom: 30px;
    position: relative;
    max-width: 24%;
}

.catalog-product-card.active{
    max-width: 32%;
}

.catalog-menu-categorie-subcategorie-item.active{
    color: var(--company-color-red);
}

.catalog-product-card-img-onhover{
    display: none;
    width: 100%;
    height:100%;
}

.catalog-product-card-img-default{
    width: 100%;
    height:100%;
}

.catalog-product-card-top:hover .catalog-product-card-img-onhover{
    display: block;
}

.catalog-product-card-top:hover .catalog-product-card-img-default{
    display: none;
}

.catalog-product-card-img{
    width: 100%;
    height:500px;
}

.catalog-product-card-colors{
    display: flex;
}

.catalog-product-card-link-color{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 5px;
}

.catalog-product-card-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.catalog-product-card-remove-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--background-color);
    border-radius: 50%;
    border: none;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.catalog-product-card-remove-button svg{
    width: 20px;
    height: 20px;
}

.catalog-product-card-button::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url('../img/favourites-transparent.svg');
    background-position: center;
    top: 0;
    left: 0;
}

.catalog-product-card-button:hover::before{
    background-image: url('../img/favourites-red.svg');
}

.catalog-product-card-button.active::before{
    background-image: url('../img/favourites-red.svg');
}

.catalog-menu-categories .sub-title{
    font-size: 15px;
}

.catalog-menu-categories .link{
    font-size: 15px;
}

.catalog{
    position: relative;
}

.catalog-products-filter-menu{
    display: none;
}

.catalog-categories-menu-close{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: none;
    background-color: var(--company-color-black);
    justify-content: center;
    align-items: center;
}

.catalog-products-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-products-information{
    display: flex;
    justify-content: space-between;
}

.catalog-products-pagination{
    text-align: center;
}

.catalog-products-information-products-number{
    margin-right: 10px;
}

.catalog-products-pagination-line{
    position: relative;
    margin-top: 20px;
    height: 3px;
    background-color: var(--company-color-gray);
    width: 100%;
}

.catalog-products-pagination-line-active{
    position: absolute;
    height: 3px;
    background-color: var(--title-color);
    z-index: 999;
}

.catalog-products-pagination-links{
    margin-top: 15px;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
}
.catalog-products-pagination-links::-webkit-scrollbar-thumb{
    background-color: var(--company-color-black) !important;
}

.catalog-products-pagination-link{
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    background-color: var(--company-color-gray);
}

.catalog-products-pagination-link button{
    color: var(--background-color);
}

.catalog-products-pagination-link:hover{
    background-color: var(--title-color);
}

.catalog-products-pagination-link.active{
    background-color: var(--title-color);

}

.catalog-navigation{
    display: flex;
    justify-content: center;
}

.catalog-search-query{
    margin-top: 20px;
}

.cart-products-list-empty-button button{
    margin-top: 30px;
}

.catalog-search-bar-button{
    width: 40px;
    height: 20px;
}

.catalog-search-bar-cancel-button{
    width: 40px;
    height: 20px;
}

.catalog-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.catalog-search-bar{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--company-color-black);
}

.catalog-products-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* product */

.product-center{
    display: flex;
    justify-content: space-between;
}

.product-goback-button{
    margin-bottom: 10px;
}

.product-details{
    position: relative;
}

.product-right{
    width: 400px;
}

.product-left{
    width: calc(100% - 450px);
}

.product-gallery{
    display: flex;
}

.product-gallery-img{
    width: 50%;
    height: auto;
}

.product-information-article{
    height: 150px;
    position: relative;
    margin-right: 5px;
}

.product-information-article-img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.product-information-article-img img{
    width: 100%;
    height: 100%;
}

.product-information-articles-list{
    justify-content: unset !important;
}

.product-information-title{
    margin-bottom: 15px;
}

.product-information-price{
    margin-bottom: 20px;
}

.product-information-info{
    margin-bottom: 20px;
}

.product-information-sex{
    margin-bottom: 10px;
}

.product-details-list{
    display: flex !important;
    flex-flow: row wrap;
}

.product-detail{
    width: 230px;
    padding: 20px;
    background-color: var(--company-color-black);
    margin-bottom: 20px;
    margin-right: 20px;
}

.product-detail .sub-title{
    color: var(--background-color) !important;
    margin-bottom: 5px;
}

.product-detail .info{
    color: var(--company-color-gray);

}

.product-detail-item{
    margin-bottom: 10px;
}

.product-information-articles{
    margin-bottom: 20px;
}

.product-details{
    margin-top: 20px;
}

/* home */

.hero-inner{
    padding: 180px 0 !important;
}

.hero-img{
    position: relative;
}

.hero-img-background{
    position: absolute;
    bottom: -10px;
    right: -15px;
    background-color: var(--company-color-black);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contactme-pattern{
    position: absolute;
    left: 0;
    top: auto;
    right: 0;
    bottom: 0px;
    z-index: 2;
    overflow: hidden;
    width: 200%;
    height: 28px;
    /* background-image: url('../src/img/5f614fd24a90828a57034936_trangle-top.svg'); */
    background-position: 0 100%;
    background-size: auto;
    background-repeat: repeat-x;
}

.about-list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.about-item{
    width: 30%;
}

.about-item-title{
    margin-bottom: 15px;
}

.qa-card{
    width: 100%;
    padding: 40px 20px;
    background-color: var(--company-color-black);
    margin-bottom: 20px;
    cursor: pointer;
}

.qa-card .sub-title,
.qa-card .info{
    color: var(--background-color);
}

.qa-card-answer{
    display: none;
    border-top: 1px solid var(--background-color);
    margin-top: 30px;
    padding: 10px 0;
}

.qa-card.active .qa-card-answer{
    display: block;
}

.qa-card.active .qa-card-question-icon{
    transform: rotate(180deg);
}

.qa-card-question-icon{
    transition: 0.3s ease-in-out;
}

.qa-card-question-icon img{
    width: 100%;
    height: 100%;
}

.qa-card-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}