header{
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transform: translateY(-100%);
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.3);
}

/* header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .3s;
    background: linear-gradient(0deg,rgba(0,0,0,0) 30px,var(--darker-background-color) 98%);
        z-index: -1;
        opacity: 0.5;
} */

header.active{
    transform: translateY(0%);
    opacity: 1;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 120px; */
    padding: 20px 0;
}

.header-menu{
    text-align: center;
}

.header-menu-list{
    display: flex;
    align-items: center;
}

.header-menu-list-item{
    margin: 0 30px;
}

.header-menu-list-link{
    /* color:var(--infromation-color);  */
    line-height: 22px;
}

.header-logo{
    width: 60px;
    height: 60px;
}

.header-logo img:hover{ 
    animation: logo 1s ease-in-out;
}

.catalog-categories{
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog-categorie-button{
    border: none;
    letter-spacing: 1px;
    margin-right: 10px;
    cursor: pointer;
}

.catalog-categorie-button:nth-last-child(1){
    margin-right: 0;
}

.catalog-categorie-subcategories{
    display: none;
}

/* .catalog-categorie.active .catalog-categorie-subcategories{
    display: block;
} */

.catalog-categorie:hover .catalog-categorie-subcategories{
    display: block;
}

.catalog-categories{
    position: relative;
}

.catalog-categorie-subcategorie{
    margin-bottom: 20px;
}

.catalog-categorie-subcategorie-title{
    margin-bottom: 10px;
}

.catalog-categorie-subcategories{
    position: absolute;
    background-color: var(--background-color);
    width: 100%;
    left: 0;
    right: 0;
}