@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --company-color-red:#c11a2b;
    --title-color:rgb(34, 34, 34);
    --info-color:rgb(58, 58, 58);
    --company-color-black:rgb(21, 21, 21);
    --company-color-gray:rgb(155, 155, 155);
    --background-color:#FFF;
}

html,
body{
    height: 100%;
}

body{
    overflow-x:hidden;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

body.lock{
    overflow-y: hidden;
}

html{
    box-sizing: border-box;
}

main{
    flex: 1 0 auto;
    position: relative;
}

section{
    overflow: hidden;
}

footer{
    flex: 0 0 auto;
}

form{
    position: relative;
}

::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 7px;
    padding: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--company-color-red);
    width: 10px;
    border-radius: 7px;
}

::-webkit-scrollbar{
    background:transparent;
    width: 10px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

ul[class],
ol[class]{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd{
    margin: 0;
    font-size: inherit;

}

ul,li[class]{
    list-style: none;
}

img{
    max-width: 100%;
}

input,
button,
textarea,
select{
    font: inherit;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

iframe{
    border: none;
    width: 100%;
}

.wrapper{
    display: flex;
    flex-direction: column; 
    min-height: 100%;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fluid{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}

.inner{
    padding: 100px 0;
}

.list{
    display: flex;
    flex-flow: wrap row;
    margin-top: 15px;
    justify-content: space-between;
}

.title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    color:var(--title-color);
    line-height: 50px;
    animation: forwards text-appear 0.5s ease-in-out;
    opacity: 0;
}

.sub-title{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:var(--title-color);
}

.info{
    font-size: 16px;
    line-height: 20px;
    color: var(--info-color);
    animation: forwards text-appear 0.5s ease-in-out;
    opacity: 0;
}

.link{
    color: var(--title-color);
    font-size: 16px;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.link:hover{
    color: var(--company-color-red);
    text-decoration: underline;
    text-underline-offset: 2px;
}

.note{
    color: var(--title-color);
    font-size: 12px;
    letter-spacing: 2px;
    font-style: italic;
    margin-top: 10px;
}

.content{
    padding: 40px 0;
    text-align: center;
}

.button-first{
    border: none;
    background-color: var(--company-color-black);
    padding: 12px;
    text-transform: uppercase;
    color: var(--background-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
}

select{
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: var(--title-color);
}

option{
    border: none !important;
}

input{
    border: none;
    padding: 12px;
}

input[type="search"]::-webkit-search-cancel-button{
  display: none;
}

.slick-prev:before{
    background-image: url('../img/arrow-slider-2.svg');
    color: unset !important;
}

.slick-next:before {
    background-image: url('../img/arrow-slider.svg');
    color: unset !important;
}

.slick-disabled{
    display: none !important;
}

.slick-next{
    right: 5px !important;
    z-index: 9;
    opacity: 1 !important;
}

.slick-track{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.slick-prev{
    left: 5px !important;
    z-index: 9;
    opacity: 1 !important;
}

.centered{
    text-align: center;
}
